/02_Java/exercicios/primeirosExercicios/Exercicio2/nbproject/private/
/02_Java/exercicios/primeirosExercicios/Exercicio2/build/
/02_Java/exercicios/primeirosExercicios/Exercicio1/build/

/02_Java/exercicios/EstruturaSequencialAula3/Exercicio2/build/
/02_Java/exercicios/EstruturaSequencialAula3/Exercicio1/build/

/02_Java/exercicios/segundosExerciciosAula4/Exercicio1/build/
/02_Java/exercicios/segundosExerciciosAula4/Exercicio2/build/
/02_Java/exercicios/segundosExerciciosAula4/Exercicio3/build/
/02_Java/exercicios/segundosExerciciosAula4/Exercicio4/build/
/02_Java/exercicios/segundosExerciciosAula4/Exercicio5/build/
/02_Java/exercicios/segundosExerciciosAula4/Exercicio6/build/
/02_Java/exercicios/segundosExerciciosAula4/Exercicio7/build/
/02_Java/exercicios/segundosExerciciosAula4/Exercicio8/build/

/02_Java/Aula5/Exercicio1/build/
/02_Java/Aula5/Exercicio2/build/
/02_Java/Aula5/Exercicio3/build/
/02_Java/Aula5/Exercicio4/build/

/02_Java/exercicios/ListaExercicio5/Exercicio1/build/
/02_Java/exercicios/ListaExercicio5/Exercicio1/dist/
/02_Java/exercicios/ListaExercicio5/Exercicio2/build/
/02_Java/exercicios/ListaExercicio5/Exercicio2/dist/
/02_Java/exercicios/ListaExercicio5/Exercicio3/build/
/02_Java/exercicios/ListaExercicio5/Exercicio3/dist/
/02_Java/exercicios/ListaExercicio5/Exercicio4/build/
/02_Java/exercicios/ListaExercicio5/Exercicio4/dist/
/02_Java/exercicios/ListaExercicio5/Exercicio5/build/
/02_Java/exercicios/ListaExercicio5/Exercicio5/dist/
/02_Java/exercicios/ListaExercicio5/Exercicio6/build/
/02_Java/exercicios/ListaExercicio5/Exercicio6/dist/
/02_Java/exercicios/ListaExercicio5/Exercicio7/build/
/02_Java/exercicios/ListaExercicio5/Exercicio7/dist/
/02_Java/exercicios/ListaExercicio5/Exercicio8/build/
/02_Java/exercicios/ListaExercicio5/Exercicio8/dist/


/02_Java/aula7/Exercicio1/build/
/02_Java/aula7/Exercicio1/dist/
/02_Java/aula7/Exercicio2/build/
/02_Java/aula7/Exercicio2/dist/
/02_Java/aula7/Exercicio3/build/
/02_Java/aula7/Exercicio3/dist/

/02_Java/exercicios/ListaExercicio6/Exercicio1/build/
/02_Java/exercicios/ListaExercicio6/Exercicio1/dist/
/02_Java/exercicios/ListaExercicio6/Exercicio2/build/
/02_Java/exercicios/ListaExercicio6/Exercicio2/dist/
/02_Java/exercicios/ListaExercicio6/Exercicio3/build/
/02_Java/exercicios/ListaExercicio6/Exercicio3/dist/
/02_Java/exercicios/ListaExercicio6/Exercicio4/build/
/02_Java/exercicios/ListaExercicio6/Exercicio4/dist/
/02_Java/exercicios/ListaExercicio6/Exercicio5/build/
/02_Java/exercicios/ListaExercicio6/Exercicio5/dist/
/02_Java/exercicios/ListaExercicio6/Exercicio6/build/
/02_Java/exercicios/ListaExercicio6/Exercicio6/dist/
/02_Java/exercicios/ListaExercicio6/Exercicio7/build/
/02_Java/exercicios/ListaExercicio6/Exercicio8/build/
/02_Java/exercicios/ListaExercicio6/Exercicio9/build/
/02_Java/exercicios/ListaExercicio6/Exercicio9/dist/
/02_Java/exercicios/ListaExercicio6/Exercicio10/build/
/02_Java/exercicios/ListaExercicio6/Exercicio10/dist/
/02_Java/exercicios/ListaExercicio6/Exercicio11/build/
/02_Java/exercicios/ListaExercicio6/Exercicio11/dist/
/02_Java/exercicios/ListaExercicio6/Exercicio12/build/
/02_Java/exercicios/ListaExercicio6/Exercicio12/dist/
/02_Java/exercicios/ListaExercicio6/Exercicio13/build/
/02_Java/exercicios/ListaExercicio6/Exercicio13/dist/

/02_Java/Aula9/Exercicio1/build/
/02_Java/Aula9/Exercicio2/build/
/02_Java/Aula9/Exercicio2/dist/
/02_Java/Aula9/Exercicio3/build/
/02_Java/Aula9/Exercicio4/build/











