/02_Java/exercicios/primeirosExercicios/Exercicio2/build/
/02_Java/exercicios/primeirosExercicios/Exercicio1/build/
/02_Java/exercicios/EstruturaSequencialAula3/Exercicio2/build/
/02_Java/exercicios/EstruturaSequencialAula3/Exercicio1/build/
/02_Java/exercicios/segundosExerciciosAula4/Exercicio1/build/
/02_Java/exercicios/segundosExerciciosAula4/Exercicio2/build/
/02_Java/exercicios/segundosExerciciosAula4/Exercicio3/build/
/02_Java/exercicios/segundosExerciciosAula4/Exercicio4/build/
/02_Java/exercicios/segundosExerciciosAula4/Exercicio5/build/
/02_Java/exercicios/segundosExerciciosAula4/Exercicio6/build/
/02_Java/exercicios/segundosExerciciosAula4/Exercicio7/build/
/02_Java/exercicios/segundosExerciciosAula4/Exercicio8/build/
/02_Java/exercicios/primeirosExercicios/Exercicio2/nbproject/private/
